<div class="container">
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
          <table class="table table-bordered table-striped">
            <thead class="thead-dark">
              <tr>
                <td>{{"Patient ID"}}</td>
                <td>{{"First Name"}}</td>
                <td>{{"Last Name"}}</td>
                <td>{{""}}</td>
                <td>{{""}}</td>
                <td>{{""}}</td>
              </tr>
            </thead>
            <tbody>
            
            </tbody>
          </table>
    </div>
    <div class="col-sm-2">
    </div>
  </div>
</div>
